# Ignore Terraform state files
*.tfstate
.tfstate.

# Ignore Terraform plan files
*.tfplan

# Ignore backup files created by Terraform
*.tf.backup

# Ignore the .terraform directory (where plugins are stored)
.terraform/

# Ignore files related to crash logs
crash.log

# Ignore sensitive variable files (e.g., terraform.tfvars usually holds sensitive data)
*.tfvars
*.tfvars.json

# Ignore any override files as they can contain local-only configurations
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore temporary files created by editors
*.swp
*.swo
*~

# Ignore .DS_Store (macOS) and Thumbs.db (Windows)
.DS_Store
Thumbs.db